body {
    background-color: rgb(50, 18, 80);
    background-image: url("../images/star3.jpg");
    background-size: 800px;

}

#buttons {

    margin: 10px;

}

.topics-button-color {
 
    background-color: rgb(94, 27, 94);
    color: white;
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 20px;
    margin: 5px;
}

img {
 
    float: left;
    margin: 20px;
}

p {
    color: white;
    font-family: 'ZCOOL XiaoWei', serif;
}
form {

    color: white;
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 20px;
    float: right;
    position: absolute;
    top: 100px;
    right: 100px;
    margin: 5px;
}

#add-gif {
    background-color: rgb(94, 27, 94);
    color: white;
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 20px;
    margin: 5px;
}